.brackets-div {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsla(152, 85%, 65%, 1);
    font-size: 20em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}