button {
    border: 0;
    width: 9em;
    height: 2.5em;
    background-color: #2A8C68;
    color: #010326;
    font-family: 'Varela Round', sans-serif;
    font-size: 2em;
    font-weight: 600;
    border-radius: 4.5em;
}

button:hover {
    cursor: pointer;
}

.button-div {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-top: 10em;
    margin-right: 20em;
}