.group-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #5CF2AC;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}